* {
  font-family: fantasy, Verdana, sans-serif;
  color: black;
  text-align: center;
}
#nav, #photos, .box, #footer{
  background-color: #b3d9ff;
  margin-top: 20px;
  padding: 10px 0px 5px opx;
}
#photos, .box{
  height: 100px;
}
li{
  display: inline;
  padding: 5px;
}
img{
  width:10%;
  height:10%;

}
